<h2>Add Contact</h2>

<form method="post">

    <label>ID:</label><br />
    <input type="text" name="ContactId" /><br /><br />

    <label>First Name:</label><br />
    <input type="text" name="FirstName" /><br /><br />

    <label>Last Name:</label><br />
    <input type="text" name="LastName" /><br /><br />

    <label>Company Name:</label><br />
    <input type="text" name="CompanyName" /><br /><br />

    <label>Email:</label><br />
    <input type="email" name="EmailId" /><br /><br />

    <label>Mobile No:</label><br />
    <input type="text" name="MobileNo" /><br /><br />

    <label>Designation:</label><br />
    <input type="text" name="Designation" /><br /><br />

    <button type="submit">Save</button>

</form>