<h2>Search Contact</h2>

<form asp-controller="Contact" asp-action="GetContactById" method="get">
    
    <label>Enter Contact ID:</label><br />
    <input type="text" name="id" /><br /><br />

    <button type="submit">Search</button>

</form>